include assets/social-preview.png
prune yumi/ui/.web
prune yumi/ui/.states
prune yumi/ui/__pycache__
prune yumi/ui/ui/__pycache__
prune _enterprise_seed
global-exclude *.py[cod]
global-exclude .DS_Store
